<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <style type="text/css">
        @import url('https://fonts.googleapis.com/css?family=Poppins');

        /* BASIC */

        html {
            background-color: #6aa5ff;
        }

        body {
            font-family: "Poppins", sans-serif;
            height: 100vh;
        }

        a {
            color: #92badd;
            display: inline-block;
            text-decoration: none;
            font-weight: 400;
        }

        h2 {
            text-align: center;
            font-size: 16px;
            font-weight: 600;
            text-transform: uppercase;
            display: inline-block;
            margin: 40px 8px 10px 8px;
            color: #cccccc;
        }



        /* STRUCTURE */

        .wrapper {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            min-height: 100%;
            padding: 20px;
        }

        #formContent {
            -webkit-border-radius: 10px 10px 10px 10px;
            border-radius: 10px 10px 10px 10px;
            background: #fff;
            padding: 30px;
            width: 90%;
            max-width: 450px;
            position: relative;
            padding: 0px;
            -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
            box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
            text-align: center;
        }

        #formFooter {
            background-color: #f6f6f6;
            border-top: 1px solid #dce8f1;
            padding: 25px;
            text-align: center;
            -webkit-border-radius: 0 0 10px 10px;
            border-radius: 0 0 10px 10px;
        }



        /* TABS */

        h2.inactive {
            color: #cccccc;
        }

        h2.active {
            color: #332f76;
            font-size: 20px;
            border-bottom: 2px solid #5fbae9;
        }



        /* FORM TYPOGRAPHY*/

        input[type=button],
        button[type=button],
        input[type=reset] {
            background-color: #6aa5ff;
            border: none;
            color: white;
            padding: 15px 80px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            text-transform: uppercase;
            font-size: 13px;
            -webkit-box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
            box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
            -webkit-border-radius: 5px 5px 5px 5px;
            border-radius: 5px 5px 5px 5px;
            margin: 5px 20px 40px 20px;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -ms-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
        }

        input[type=button]:hover,
        button[type=button]:hover,
        input[type=reset]:hover {
            background-color: #332f76;
        }

        input[type=button]:active,
        button[type=button]:active,
        input[type=reset]:active {
            -moz-transform: scale(0.95);
            -webkit-transform: scale(0.95);
            -o-transform: scale(0.95);
            -ms-transform: scale(0.95);
            transform: scale(0.95);
        }

        input[type=text] {
            background-color: #f6f6f6;
            border: none;
            color: #0d0d0d;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 5px;
            width: 85%;
            border: 2px solid #f6f6f6;
            -webkit-transition: all 0.5s ease-in-out;
            -moz-transition: all 0.5s ease-in-out;
            -ms-transition: all 0.5s ease-in-out;
            -o-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
            -webkit-border-radius: 5px 5px 5px 5px;
            border-radius: 5px 5px 5px 5px;
        }

        input[type=text]:focus {
            background-color: #fff;
            border-bottom: 2px solid #6aa5ff;
        }
        .icons i {
            top: 11%;
            left: 83%;
            position: absolute;
            color: #747589;
        }

        .iconss i {
            top: 33%;
            left: 83%;
            z-index: 1;
            position: absolute;
            color: #747589;
        }

        input[type=password] {
            background-color: #f6f6f6;
            border: none;
            color: #0d0d0d;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 5px;
            width: 85%;
            border: 2px solid #f6f6f6;
            -webkit-transition: all 0.5s ease-in-out;
            -moz-transition: all 0.5s ease-in-out;
            -ms-transition: all 0.5s ease-in-out;
            -o-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
            -webkit-border-radius: 5px 5px 5px 5px;
            border-radius: 5px 5px 5px 5px;
        }

        input[type=password]:focus {
            background-color: #fff;
            border-bottom: 2px solid #6aa5ff;
        }

        input[type=password]:placeholder {
            color: #cccccc;
        }



        /* ANIMATIONS */

        /* Simple CSS3 Fade-in-down Animation */
        .fadeInDown {
            -webkit-animation-name: fadeInDown;
            animation-name: fadeInDown;
            -webkit-animation-duration: 1s;
            animation-duration: 1s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
        }

        @-webkit-keyframes fadeInDown {
            0% {
                opacity: 0;
                -webkit-transform: translate3d(0, -100%, 0);
                transform: translate3d(0, -100%, 0);
            }

            100% {
                opacity: 1;
                -webkit-transform: none;
                transform: none;
            }
        }

        @keyframes fadeInDown {
            0% {
                opacity: 0;
                -webkit-transform: translate3d(0, -100%, 0);
                transform: translate3d(0, -100%, 0);
            }

            100% {
                opacity: 1;
                -webkit-transform: none;
                transform: none;
            }
        }

        /* Simple CSS3 Fade-in Animation */
        @-webkit-keyframes fadeIn {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }

        @-moz-keyframes fadeIn {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }

        @keyframes fadeIn {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }

        .fadeIn {
            opacity: 0;
            -webkit-animation: fadeIn ease-in 1;
            -moz-animation: fadeIn ease-in 1;
            animation: fadeIn ease-in 1;

            -webkit-animation-fill-mode: forwards;
            -moz-animation-fill-mode: forwards;
            animation-fill-mode: forwards;

            -webkit-animation-duration: 1s;
            -moz-animation-duration: 1s;
            animation-duration: 1s;
        }

        .fadeIn.first {
            -webkit-animation-delay: 0.4s;
            -moz-animation-delay: 0.4s;
            animation-delay: 0.4s;
        }

        .fadeIn.second {
            -webkit-animation-delay: 0.6s;
            -moz-animation-delay: 0.6s;
            animation-delay: 0.6s;
        }

        .fadeIn.third {
            -webkit-animation-delay: 0.8s;
            -moz-animation-delay: 0.8s;
            animation-delay: 0.8s;
        }

        .fadeIn.fourth {
            -webkit-animation-delay: 1s !important;
            -moz-animation-delay: 1s !important;
            animation-delay: 1s !important;
        }

        /* Simple CSS3 Fade-in Animation */
        .underlineHover:after {
            display: block;
            left: 0;
            bottom: -10px;
            width: 0;
            height: 2px;
            background-color: #6aa5ff;
            content: "";
            transition: width 0.2s;
        }

        .underlineHover:hover {
            color: #0d0d0d;
        }

        .underlineHover:hover:after {
            width: 100%;
        }

        /* OTHERS */

        *:focus {
            outline: none;
        }

        #icon {
            width: 60%;
        }

        * {
            box-sizing: border-box;
        }
    </style>
</head>

<body style=" margin: 0 !important; padding: 0 !important;">
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->


            <!-- Icon -->
            <div class="fadeIn first center" style="padding-top: 38px;">
                <img src="<%= asset_url %>Wellheal_Logo.png" id="icon" alt="User Icon" />
            </div>

            <h2 class="active" style="margin: revert;"> Create New Password </h2>
            <!-- Login Form -->
            <form>
               
                <div class="form-group" style="position: relative;">
                    <!-- <div class="show-hide" onclick=newPasswordShow()><span class="show"> </span></div> -->
                    <div class="input-group" id="show_hide_password">
                        <div class="icons">
                            <i class="fa-solid fa-eye-slash" id="newTogglePassword"></i>
                        </div>
                        <div class="errMessage text-center alert alert-danger"
                            style="width:265px; display: contents; color: red;" id="newPasswordError"></div>

                        <input class="form-control" type="password" id="newPassword" class="fadeIn third" name="login"
                            placeholder="New Password">
                    </div>
                    <div class="form-group" style="position: relative;">
                        <!-- <div class="show-hide" onclick=confirmPasswordShow()><span class="show"> </span> -->
                        <div class="errMessage text-center alert alert-danger"
                            style="width:265px; display: contents; color: red;" id="confirmPasswordError"></div>
                            <div class="iconss">
                                <i class="fa-solid fa-eye-slash" id="confirmTogglePass"></i>
                            </div>
                        <input type="password" id="confirmPassword" class="fadeIn third" name="login"
                            placeholder="Confirm Password">
                    </div>
                    <div class="errMessage text-center alert alert-danger"
                        style="width:265px; display: contents; color: red;" id="commonPasswordError"></div>
                    <div class="form-group mb-0">
                        <button type="button" class="fadeIn fourth" value="Reset Password" onclick="changePassword()"
                            style="text-transform: none;">Reset Password</button>
                    </div>
            </form>

            <!-- Remind Passowrd -->


        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>

        $(document).ready(function () {

            $("#newPassword").keypress(function () {
                $("#newPasswordError").html('');
                $("#commonPasswordError").html('');
            });

            $("#confirmPassword").keypress(function () {
                $("#confirmPasswordError").html('');
                $("#commonPasswordError").html('');
            });

        });

        const newTogglePassword = document.querySelector("#newTogglePassword");
        const password = document.querySelector("#newPassword");

        newTogglePassword.addEventListener("click", function () {
            // toggle the type attribute
            const type = password.getAttribute("type") === "password" ? "text" : "password";
            password.setAttribute("type", type);
            
            // toggle the icon
            this.classList.toggle("fa-eye");
        });

        
        const confirmTogglePass = document.querySelector("#confirmTogglePass");
        const conPassword = document.querySelector("#confirmPassword");

        confirmTogglePass.addEventListener("click", function (x) {
            // toggle the type attribute
            const type = conPassword.getAttribute("type") === "password" ? "text" : "password";
            conPassword.setAttribute("type", type);
            
            // toggle the icon
            this.classList.toggle("fa-eye");
        });

        var email = window.location.pathname.split('/')[3];

        const language = 'english';
        console.log("window.location.pathname", window.location.pathname);
        const timestamp = window.location.pathname.split('/')[5];
        var mail_id = window.location.pathname.split('/')[6];
        var tc = window.location.pathname.split('/')[7];

        function validateLink() {
            console.log('email', email, mail_id);
            jQuery.ajax({
                type: "GET",
                headers: {
                    "x-auth-token": atob(tc)
                },
                url: "/api/auth/users/check/mail/" + email + "/" + mail_id + "/" + timestamp,
                success: function (res) {
                    if (res.code != 200) {
                        window.location = '<%= apiURL %>/auth/users/link/expired'
                    }
                }
            });
        }

        validateLink();

        function removeMyError(controlId) {
            document.getElementById(controlId).innerText = "";
        }

        function PasswordRegex(password) {
            if (/^(?=.{8,})(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[@#$%^&+=]).*$/.test(password)) {
                return true;
            } else {
                return false;
            }
        }

        async function changePassword() {
            // await validateLink();

            var newPassword = document.getElementById('newPassword').value;
            var confirmPassword = document.getElementById('confirmPassword').value;
            var isValid = 1;

            if (newPassword == '') {
                document.getElementById('newPasswordError').innerText = "New password is required!";
                isValid = 0;
            }
            if (confirmPassword == '') {
                document.getElementById('confirmPasswordError').innerText = "Confirm password is required!";
                isValid = 0;
            }
            if (newPassword != '' && confirmPassword != '') {
                if (newPassword != confirmPassword) {
                    document.getElementById('commonPasswordError').innerText = "New password and confirm password does not match!";
                    isValid = 0;
                }
            }
            if (isValid == 1) {
                var password = document.getElementById('newPassword').value;
                var validate_password = PasswordRegex(password)
                if (validate_password) {
                    jQuery.ajax({
                        type: "POST",
                        headers: {
                            "x-auth-token": atob(tc)
                        },
                        url: `/api/auth/users/password/${email}/${password}`,
                        success: function (res) {

                            if (res.code == 200) {

                                window.location.replace(`<%= apiURL %>/auth/users/${email}/success`);
                            } else {

                                window.location.replace(`<%= apiURL %>/auth/users/${email}/failure`)
                            }
                        }
                    });
                } else {
                    document.getElementById('commonPasswordError').innerText = "Password must have eight characters, at least one Upper case & Lower case letter, one number and one special character.";
                    isValid = 0;
                }

            } else {
                return false;
            }
        }

        function newPasswordShow() {
            var x = document.getElementById("newPassword");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }

        function confirmPasswordShow() {
            var y = document.getElementById("confirmPassword");
            if (y.type === "password") {
                y.type = "text";
            } else {
                y.type = "password";
            }
        }
    </script>


</body>

</html>